<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>http://www.crowncake.cn:18080/wav/no.9.mp4</string>
		<key>artist</key>
		<string>T-ara </string>
		<key>title</key>
		<string>No.9</string>
		<key>placeholder</key>
		<string>default_bg_land</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.crowncake.cn:18080/wav/day_by_day.mp4</string>
		<key>artist</key>
		<string>T-ara</string>
		<key>title</key>
		<string>Day by day</string>
		<key>placeholder</key>
		<string>default_bg_land</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.crowncake.cn:18080/wav/Lovey_Dovey.mp4</string>
		<key>artist</key>
		<string>T-ara</string>
		<key>title</key>
		<string>Lovey Dovey(Drama Ver.)</string>
		<key>placeholder</key>
		<string>default_bg_land</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.crowncake.cn:18080/wav/ganghaoyujianni.mp4</string>
		<key>artist</key>
		<string>李玉刚</string>
		<key>title</key>
		<string>刚好遇见你</string>
		<key>placeholder</key>
		<string>default_bg_land</string>
	</dict>
</array>
</plist>
